{:paths ["src"]
 :deps {}
 :aliases
 {:test
  {:extra-paths ["test"]
   :extra-deps {org.clojure/clojure {:mvn/version "1.11.1"}
                org.clojure/test.check {:mvn/version "1.1.1"}}
   :main-opts ["-m" "kaocha.runner"]}
  :build
  {:deps {io.github.clojure/tools.build {:mvn/version "0.9.6"}}
   :ns-default build}}}